<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My CDs</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1 class="header">Your CD Collection</h1>
                {% if cds %}
                    {% for cd in cds %}
                    <div class="well">
                        <h2>Name of CD: {{ cd.getAlbum }}</h2>
                        <h3>Name of Artist: {{ cd.getArtist }}</h3>
                    </div>
                    {% endfor %}
                {% else %}
                    <h2>Welcome to your colletion! Add CDs.</h2>
                {% endif %}
                <a href="/new_cd">Add new cd</a>
        </div>
    </body>
</html>
